/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body{
  background-color: hsl(225, 100%, 94%);
}
.main{
  max-width: 375px;
  text-align: center;
  margin: 8vh auto;
}
.contatiner-for-image{
  background-image: url("../images/illustration-hero.svg");
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 240px;

}
/******************************************
/* LAYOUT
/*******************************************/